body {
    background-color: #a7a5a5;

}

.navBar {
    background-color: #3E3F53;
    overflow: hidden;
    min-height: 60px;
}

.addBlock{
    height: 50px;
    width: 50px;
    position: fixed;
    top: 150px;
    left: 1000px;
    background-color:#fef;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.removeBlock{
    height: 50px;
    width: 50px;
    position:fixed;
    top: 230px;
    left: 1000px;
    background-color:#00FF00;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stage{
    height: 100px;
    width: 800px;
    position: fixed;
    top: 450px;
    left: 50px;
    background-color:aqua

}

.leftSide{
    height: 340px;
    width: 200px;
    position: fixed;
    top: 100px;
    left: 50px;
    background-color:darkorchid

}

.rightSide{
    height: 340px;
    width: 200px;
    position: fixed;
    top: 100px;
    left: 650px;
    background-color:darkorchid

}

.center{
    height: 340px;
    width: 390px;
    position: fixed;
    top: 100px;
    left: 255px;
    background-color:burlywood

}

.stack {
    display: flex;
    flex-direction: column;
}

label {
    margin-left: 10px;
}

input {
    margin: 10px;
    width: 200px;
}

button {
    margin-left: 10px;
    width: 205px;
}