body {
    background-color: #a7a5a5;
}

.navBar {
    background-color: #3E3F53;
    overflow: hidden;
    min-height: 60px;
}

.navBar p {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0;
    line-height: 60px;
}

.navBar p:not(.no-hover):hover {
    background-color: white;
    color: #3E3F53;
}

.navBar p.no-hover {
    float: left;
    font-size: 36px;
}

.searchBar {
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 0 5px #a7a5a5;
    overflow: hidden;
}

.searchBar .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.searchBar .icon::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid black;
    border-radius: 50%;
    transform: translate(-4px, -4px);
}

.searchBar .icon::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background:  black;
    transform: translate(6px, 6px) rotate(315deg);
}

.searchBar.active {
    width: 560px;
}

.searchBar .input {
    position: relative;
    width: 300px;
    height: 60px;
    left: 60px;
    transform: translateY(-32%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar .input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 0;
}

.clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    background: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.clear::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: gray;
    transform: rotate(45deg);
}

.clear::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: gray;
    transform: rotate(315deg);
}

.loginTrigger {
    cursor: pointer;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform .5s ease;
}

.loginWrapper {
    width: 400px;
    height: 400px;
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    backdrop-filter: blur(30px);
    display: flex; /* Added display flex to center child elements */
    flex-direction: column; /* Stack child elements vertically */
    justify-content: center; /* Center child elements vertically */
    align-items: center; /* Center child elements horizontally */
    margin: 20px;
    overflow: hidden;
}

.loginWrapper h2 {
    font-size: 2em;
    margin-bottom: 5px;
}

.inputBox {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.inputBox input {
    width: 300px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 500;
    padding: 0 30px 0 5px;
}

.loginButton {
    width: 100%;
    height: 45px;
    background: #3E3F53;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    margin: 0 auto;
}

.closeIcon {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-bottom-left-radius: 15px;
    cursor: pointer;
    z-index: 1;
}

.wrapper.active {
    transform: scale(1);
}

.error-message {
    color: red;
    text-align: center;
}

.showContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.showMenu {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    width: 750px;
    height: 400px;
    overflow-y: auto;
    text-align: center;
    font-size: 2.5em;
}

.showMenu span {
    background-color: white;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.showMenu span:hover {
    background-color: #3E3F53;
    color: white;
}

.showItem {
    justify-content: none;
}


