.venueWrapper {
    margin: 0;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
}
  
.venue {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.section {
    text-align: center;
}

.seat {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid black;
    margin: 5px;
    cursor: pointer;
}

.seat.selected {
    background-color: #4caf50;
    color: #fff;
    border: 1px solid #4caf50;
}

.seat.sold {
    background-color: maroon;
    color: white;
    border: 1px solid maroon;
}

.seat.low {
    background-color: green;
    color: white;
    border: 1px solid black;
}

.seat.mid {
    background-color: yellow;
    color: black;
    border: 1px solid black;
}

.seat.high {
    background-color: rgb(177, 72, 72);
    color: black;
    border: 1px solid black;
}

.confirm-purchase {
    margin-top: 100px; /* Adjust the margin as needed */
    display: flex;
    justify-content: center;
}
  
.confirm-purchase button {
    background-color: green;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}
  
.confirm-purchase button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.confirm-purchase button.another-button {
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

.selected-seats {
    margin-top: 20px;
    background-color: #fff;
    margin-bottom: -200px;
    height: 100px;
    overflow-y: auto;
}
  
.selected-seats h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
  
.containerMenu ul {
    list-style-type: none;
    padding: 0;
}
  
.containerMenu li {
    margin-bottom: 8px;
    font-size: 16px;
}
  
.containerMock p {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
}

.selected-seats-container {
    margin-top: 50px;
    height: 200px; /* Set the desired height */
    overflow-y: auto;
    background-color: #fff;
}

.containerMenu {
    background-color: white;
}
  
.loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}